CONFIG_IDF_TARGET="esp32"

CONFIG_LED_WIFI_SSID="CHANGE_ME_WIFI"
CONFIG_LED_WIFI_PASSWORD="CHANGE_ME_PASSWORD"
CONFIG_LED_MQTT_BROKER_URI="mqtts://CHANGE_ME.s1.eu.hivemq.cloud:8883"
CONFIG_LED_MQTT_USERNAME=""
CONFIG_LED_MQTT_PASSWORD=""
CONFIG_LED_TOPIC="warehouse/SHELF_A/led/command"
CONFIG_LED_GPIO_T1=16
CONFIG_LED_GPIO_T2=17
CONFIG_LED_GPIO_T3=18
CONFIG_LED_GPIO_T4=19
CONFIG_LED_DEFAULT_BLINK_MS=500
CONFIG_LED_DEFAULT_TIMEOUT_MS=120000

CONFIG_ESP_MAIN_TASK_STACK_SIZE=6144
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE=y
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE_DEFAULT_FULL=y
